[submodule "external/tinyfiledialogs"]
	path = external/tinyfiledialogs
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "external/libimagequant"]
	path = external/libimagequant
	url = https://github.com/ImageOptim/libimagequant.git
	branch = 2.x
